<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mb-3">
    <%= form.label :category, class: 'form-label' %>
      <%= form.collection_select :category_id, Category.all, :id, :name, {}, { class: 'form-select' } %>
    </div>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
      <%= form.rich_text_area :description, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :company, class: 'form-label' %>
      <%= form.text_field :company, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :url, class: 'form-label' %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if job.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', job, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if job.persisted? %>
      <%= link_to "Cancel", job, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", jobs_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
